<div class="py-2 mx-2 my-2" >
    <table class="table table-striped my-3 mx-3 py-2 ">
    <thead>
        <h3> User Details</h3>
      <tr>
        <!-- <th scope="col">id</th> -->
        <th scope="col"> User Name</th>
        <th scope="col">FirstName</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">roleName</th>

      
        
      </tr>
    </thead>
    <tbody>
  
      <tr>
       <!-- <td>{{this.nstd.id}}</td>  -->
       <td>{{this.nstd.userName}}</td>
       <td>{{this.nstd.firstName}}</td>
       <td>{{this.nstd.email}}</td>
       <td>{{this.nstd.phoneNumber}}</td>
       <td>{{this.nstd.roleName}}</td>
         

      </tr>
    </tbody>
  </table>
</div>
<br>
<hr>
<div class="py-2 mx-2 my-2" >
    <table class="table table-striped my-3 mx-3 py-2 ">
        <thead>
            <h3> Visa Details</h3>
          <tr>
            <!-- <th scope="col">id</th> -->
            <th scope="col"> ClientName</th>
            <th scope="col">BankName</th>
            <th scope="col">AccountNumber</th>
            <th scope="col">Section</th>
            <th scope="col">CardNumber</th>
            <th scope="col">CardName</th> 
            <th scope="col">PhoneNumber</th>
            <th scope="col">WalletNumber</th>
    
            
            
          </tr>
        </thead>
        <tbody>
  
          <tr>
            <!-- <td>{{this.visaObj.id}}</td>   -->
            <td>{{this.visaObj.clientName}}</td>
            <td>{{this.visaObj.bankName}}</td>
            <td>{{this.visaObj.accountNumber}}</td>
            <td>{{this.visaObj.section}}</td>
            <td>{{this.visaObj.cardNumber}}</td>
            <td>{{this.visaObj.cardName}}</td>
            <td>{{this.visaObj.phoneNumber}}</td>
            <td>{{this.visaObj.walletNumber}}</td>


          </tr>
        </tbody>
      </table></div>
